
.tip {
  position: absolute;
  width: 0;
  height: 0;
}

.tip--hidden {
  display: none;
}

.tip--direction-up.tip--position-h-center,
.tip--direction-down.tip--position-h-center {
  transform: translateX(-50%);
}

.tip--direction-left.tip--position-v-center,
.tip--direction-right.tip--position-v-center {
  transform: translateY(-50%);
}

.tip--direction-up.tip--position-bottom,
.tip--direction-down.tip--position-bottom {
  transform: translateX(-50%);
}

.tip--direction-up.tip--position-top,
.tip--direction-down.tip--position-top {
  transform: translateX(-50%) translateY(-100%) ;
}

.tip--direction-right.tip--position-left {
  transform: translateY(-50%) translateX(-100%);
}

.tip--direction-left.tip--position-right {
  transform: translateY(-50%);
}

.tip--direction-up {
  border-left-style: solid;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-color: transparent;
  border-bottom-style: solid;
}

.tip--direction-down {
  border-left-style: solid;
  border-left-color: transparent;
  border-right-style: solid;
  border-right-color: transparent;
  border-top-style: solid;
}

.tip--direction-left {
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-style: solid;
}

.tip--direction-right {
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-left-style: solid;
}